@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
ul,ol,li{
    list-style: none;
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
}
html,body{
    height: 100%;
}


.fl{
    float: left;
}
.fr{
    float: right;
}


.clear-fix:after{
    content: ".";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}